#train-table th, td {
      display: inline-block;
      width: 16.575%;
    }

.jumbotron {
    color: rgb(197, 5, 5);
    background-image: url(../images/Triforce.jpg);
    background-position: center;
    font-family: Cinzel Decorative;
    text-shadow: 0px 0px 6px black;
}

h1 {
    font-size: 60px;
    font-weight: bolder
}
.container {
    background-color: #86724c
}

body {
    background-image: url(../images/wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%
}

.btn { 
    background-color: #5fa139;
    border: #83df4d
    
}

.card-header {
    background-color: rgba(168, 149, 63, 0.541);
    font-family: Cinzel Decorative;
    font-weight: bold;
    font-size: 20px;
    color: rgb(197, 5, 5);
    text-shadow: 0px 0px 2px black;
    
}

.overlay {
    background-image: url(../images/ravenna.png) ;
}